.form {
  width: 736px;
  height: auto;
  padding: 40px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 16px;
}

.content {
}

.title {
}

.name {
}

.first-name {
}

.last-name {
}

.email {
}

.query-type {
}

.general {
}

.support {
}

.message {
}

.consent {
}

.label {
}

.input {
}

.button {
  width: 100%;
  padding: 16px 40px;
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  line-height: 150%;
  background: var(--green);
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background: var(--dark-grey);
}
